.popup {
  position: fixed;
  left: 0;
  top: 0;
  /*height: 100%;*/
  width: 100%;
  /*display: none;*/
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
  display: flex;
  height: 0;
  opacity: 0;
  transition: height 0ms 600ms, opacity 600ms ease-in 0ms, z-index 0ms 600ms;
  cursor:pointer;
}

.popup__header {
  margin: 0 0 47px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../images/5bukv/Close_Icon.svg);
}

.popup_opened {
  height: 100%;
  opacity: 1;
  z-index: 1;
  transition: height 0ms 0ms, opacity 600ms ease-out 0ms;
}
