.page {
  max-width: 1440px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--bgcolor);


}
