@import url(../vendor/normalize.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__letter/header__letter.css);
@import url(../blocks/debug/debug.css);
@import url(../blocks/debug/_hidden/debug_hidden.css);
@import url(../blocks/content/content.css);
@import url(../blocks/instructions/instructions.css);
@import url(../blocks/field/field.css);
@import url(../blocks/field/__line/field__line.css);
@import url(../blocks/field/__letter/field__letter.css);
@import url(../blocks/keyboard/keyboard.css);
@import url(../blocks/keyboard/__line/keyboard__line.css);
@import url(../blocks/keyboard/__button/keyboard__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/letter/_type/letter_type_wrong.css);
@import url(../blocks/letter/_type/letter_type_misposition.css);
@import url(../blocks/letter/_type/letter_type_right.css);
@import url(../blocks/letter/_type/letter_type_current-row.css);
@import url(../blocks/keyboard/__button/_big/keyboard__button_big.css);
